body {
    font-family: Arial;
    margin: 0;
  }
  
  header, footer {
    background: #222;
    color: white;
    padding: 15px;
  }
  
  nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  